[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tutorialtest57
[access "refs/for/refs/*"]
	read = group user/tutorialtest57
	push = group user/tutorialtest57
	label-Code-Review = -2..+2 group user/tutorialtest57
	label-Verified = -1..+1 group user/tutorialtest57
	rebase = group user/tutorialtest57
	removeReviewer = group user/tutorialtest57
	submit = group user/tutorialtest57
[access "refs/heads/*"]
	read = group user/tutorialtest57
	create = group user/tutorialtest57
	push = +force group user/tutorialtest57
	pushMerge = group user/tutorialtest57
[access "refs/tags/*"]
	push = group user/tutorialtest57
	push = +force group user/tutorialtest57
